extends index2
block content
	<input type="checkbox" name="op" class="chk" value="0" />1</br>
	<input type="checkbox" name="op" class="chk" value="1" />2</br>
	<input type="checkbox" name="op" class="chk" value="2" />3</br>
	<input type="checkbox" name="op" class="chk" value="3" />4</br>
	<input type="checkbox" name="op" class="chk" value="4" />5</br>
