extends index
block content
	textarea(rows=20)
		| #{clue}
	//Message: 11510510310411632111102329732100105115116971101163211198106101991163211610497116115329910810197114
	//N: 25187922505563847328534051587078213753884697094931655552807488323074679526446508519539762303866025039513854448583834256469362794084389163102447365370034461947631330374552754122884225129170088169265937948759353226167599456654286508033901951451072290528091141800927887454503397435418852551639034034801126017114397484385218201918011910687288518305227360234591261337654961609551687394859654729479695267493142930138575556947369079527287369213121363527501570903708820423109087243354607746463420978409757730242228290017867005214499374099111973521119319138527323117588048486324905320495460732575206303174116732517656581026769
	//d : 23399057012640311532588332114132943448165550727350926640047508435576349994097974567198316355900748998636027103706026738063446064079750283924408723445026452928469272471346141371636246412009407713419872655840881027458740564976304491780432574271059059854472364804497461089892473702433104281019428777381017811627443586668960440876787613531097208830240901996693486154904238032707851844702103204630395410837545498587601292030050261346144066884953009919812248748945573406600078023017726501845443415900358978840394633174865566563790548663223335898874728833634738373845438700751089926000445777049286609438139392405082438274751
