doctype html
html(lang='en')
	head
		script(src="http://code.jquery.com/jquery-2.1.4.min.js")
		script(src="/main.js")
		link(type="text/css", href="/main.css", rel="stylesheet")
		title="machine"

	body
		block content
